:root{
    --corBackgroundPrinaria: rgb(69, 219, 252);
    --corBackgroundSegundaria: rgb(4, 19, 61);
    --corTextPreimaria:  rgb(99, 99, 99);
    --corTextSegundaria: rgb(0, 0, 0);
}
/*estilo gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hidden{
    display: none;
}

/*body*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*header*/
header{
    background-color: var(--corBackgroundPrinaria);
    padding: 20px 20px 0;
}

header .container{
    background-color: white;
}

header .linha{
    align-items: center;
}

header .coluna-esquerda{
    flex-basis: 30%;
}

header .coluna-direita{
    flex-basis: 55%;
    text-align: center;
}

header .coluna-esquerda img{
    max-width: 100%;
}

header .coluna h1{
    font-size: 15px;
    color: var(--corTextSegundaria);
}

header .coluna p{
    font-size: 16px;
    color: var(--corTextPreimaria);
}

header .coluna ul{
    margin: 16px 0 0;
}

header .coluna ul li a{
    font-size: 16px;
    color: var(--corTextSegundaria);
}
/*main*/
main .coluna section{
    border-bottom: 1px solid rgb(214, 234, 255);;
    margin: 0 0 20px;
    padding: 10px 20px;
}

main .coluna section h2{
    font-size: 18px;
    margin: 0 0 15px;
}

main .coluna section p{
    font-size: 14px;
    color: var(--corTextPreimaria);
    line-height: 24px;
}

main .coluna section ul li{
    margin: 0 0 12px;
}

main .coluna section ul li h3{
    font-size: 15px;
}

main .coluna section ul li strong{
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 10px;
    display: inline-block;
}
main .coluna section nav a{
    color: var(--corTextPreimaria);
}

/*footer*/
footer{
    background-color: var(--corBackgroundSegundaria);
}

footer nav ul li a{
    color: white;
}

footer nav .info-contato li{
    margin: 12px 0;
    text-align: center;
}
footer nav .redes-sociais{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.336);
    margin: 5px 0 0;
    padding: 6px 0 0;
}
footer nav .redes-sociais li{
    text-align: center;
}

footer nav .redes-sociais li p{
    font-size: 10px;
}
footer nav .redes-sociais li a img{
    max-width: 50px;
    margin: 12px 13px 0;
}
/*extras*/

.container{
    position: relative;
}

label{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 52px;
    height: 30px;
    background-color: var(--corBackgroundSegundaria);
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
}
label span{
    width: 20px;
    height: 20px;
    display: block;
    background-color: rgb(212, 233, 255);
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}
#ativadark:checked ~ #dark label{
    background-color: rgb(212, 233, 255);
}
#ativadark:checked ~ #dark label span{
    background-color: var(--corBackgroundSegundaria);
    transform: translate(21px);
}
#ativadark{
    display: none;
}
#ativadark:checked ~ #dark{
    --corBackgroundPrinaria: rgb(0, 33, 59);
    --corBackgroundSegundaria: rgb(38, 45, 49);
    --corBackgroundTercearia: rgb(25, 25, 25);
    --corTextPreimaria:  rgb(255, 255, 255);
    --corTextSegundaria: rgb(255, 255, 255);
}
#ativadark:checked ~ #dark header .container{
    background-color: var(--corBackgroundSegundaria);
}
#ativadark:checked ~ #dark .container{
    background-color: var(--corBackgroundSegundaria);
}
#ativadark:checked ~ #dark main{
    background-color: var(--corBackgroundTercearia);
}
#ativadark:checked ~ #dark footer{
    background-color: var(--corBackgroundTercearia);
}


/*@media*/
@media only screen and (min-width: 768px){
    /* Gerais */
    .coluna{
        flex-basis: 49%;
    }
    .linha{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container{
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 30px;
    }
    /* header */
    header .coluna-direita{
        text-align: left;
    }
    header .coluna-esquerda img{
        max-width: 250px;
        border-radius: 50%;
    }
    header .coluna h1{
        font-size: 24px;
    }
    header .coluna ul li{
        margin: 0 0 12px;
    }
    /* main */
    main .coluna section{
        border: 1px solid rgb(214, 234, 255);
        padding: 20px;
        min-height: 225px;
        color: var(--corTextSegundaria);
    }
    /* footer */
    footer nav .info-contato li{
        text-align: left;
    }
    footer nav .redes-sociais{
        margin: 20px 0 0;
        padding: 14px 0 0;
    }
    footer nav .redes-sociais li a img{
        margin: 0 30px;
    }
}
@media only screen and (min-width: 991px){
    header .coluna-direita{
        flex-basis: 65%;
    }
}